.article{
    max-width: 357px;
    height: 55vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2{
        font-family: "Source Sans 3", sans-serif;
        font-size: 30px;
        font-weight: bold;
        color: #122F97;
        text-align: center;
    }

    p{
        font-family: "Inter", sans-serif;
        font-weight: 400;
        color: #122F97;
        text-align: center;
    }

    button{
        width: 200px;
        height: 50px;
        border-radius: 10px;
        border: none;
        background-color: #205691;
        font-family: "Source Sans 3", sans-serif;
        font-size: 20px;
        font-weight: 600;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover{
            background-color: #122F97;
        }
    }

    article img{
        max-width: 100%;
        min-width: 0;
    }
}

@media (max-width: 768px) {
    .article{
        height: auto;
        min-height: 0;
        row-gap: 16px;
        margin-bottom: 36px;
    }
}


@media (max-width: 200px) {
        .article{
            row-gap: 8px;
            margin-bottom: 18px;

            img{
                max-width: 100%;
            }

            h2{
                font-size: 18px;
                line-height: 24px;
            }

            p{
                font-size: 12px;
                line-height: 18px;
            }

            button{
                width: 100%;
                height: 36px;
                font-size: 14px;
            }
        }
}