.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    padding: 0 20px 20px 12px;
    overflow-y: scroll;

    h1 {
        font-family: "Source Sans 3", sans-serif;
        font-size: 60px;
        font-weight: bold;
        color: #205691;
    }

    section {
        display: flex;
        justify-content: space-around;
        column-gap: 5px;
        width: 100%;


        article {
            display: flex;
            flex: 1;
            justify-content: space-around;
        }

        article:not(:last-child) {
            border-right: 1px solid #CBCBCB;
        }
    }
}

@media (max-width: 768px) {
    .main {
        height: auto;
        margin-block: 24px;

        h1 {
            font-size: 40px;
            text-align: center;
            margin-bottom: 24px;
        }

        section {
            flex-wrap: wrap;
            gap: 10px;

            article {
                min-width: 252px;
            }

            article:not(:last-child) {
                border-right: none;
            }
        }
    }
}

@media (max-width: 500px) {
    .main {
        height: auto;
        margin-block: 24px;

        h1{
            text-align: center;
            margin-bottom: 24px;
        }
    }
}