.header{
  border: 2px solid red;
  display: flex;
  background-color: #205691;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;

}

.imgLogo{
    max-width: 87px;
    max-height: 65.7px;
    height: 100%;
    width: 100%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    border: 2px solid blue;

    .link{
        border: 2px solid green;
        padding: 5px 20px;
        font-family: 'Source Sans 3', sans-serif;
        color: white;
        font-size: 20px;
        font-weight: 600;
    }
}

.imgUser{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #00AAFF;
  cursor: pointer;
    position: relative;
}

.navUser{
    position: absolute;
    // top: 12%;
    right: 0;
    background-color: #205691;

    a{
        display: block;
        padding: 5px 10px;
        color: white;
        font-family: 'Source Sans 3', sans-serif;
        text-align: end;
    }
}