.footer{
    padding: 30px 20px;
    text-align: center;
    font-family: "inter", sans-serif;
    font-weight: 400;
    background-color: #E9EFF4;
}


@media (max-width: 500px) {
    .footer{
        padding: 12px;
        font-size: 12px;
    }
}